.demo-icon .mat-icon.green {
  color: #00c853;
}

.demo-icon .mat-icon.red {
  color: red;
}

.color-green {
  color: #00c853;
}

.color-red {
  color: red;
}

.mat-table {
  overflow: auto;
}

.element-row {
  position: relative;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
