<span class="app-content">
  <div>
    <mat-card *ngIf="groupSummary.length > 0">
      <mat-card-title>Gruppen</mat-card-title>
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="groupSummaryDataSource">

          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="numberOfUsers">
            <mat-header-cell *matHeaderCellDef> Mitglieder </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.members.length}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="numberOfCategories">
            <mat-header-cell *matHeaderCellDef> Kategorien </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.categories.length}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isMember">
              <mat-header-cell *matHeaderCellDef> Mitglied </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-icon class="color-green" *ngIf="checkRoleMembership(element.members)">check</mat-icon>
                <mat-icon class="color-red" *ngIf="!checkRoleMembership(element.members)">close</mat-icon>
              </mat-cell>
            </ng-container>

          <ng-container matColumnDef="isModerator">
            <mat-header-cell *matHeaderCellDef> Moderator </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon class="color-green" *ngIf="checkRoleMembership(element.moderators)">check</mat-icon>
              <mat-icon class="color-red" *ngIf="!checkRoleMembership(element.moderators)">close</mat-icon>
            </mat-cell>
          </ng-container>
          <!--
          <ng-container matColumnDef="budget">
            <mat-header-cell *matHeaderCellDef> Stand </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{'color-green': element.ownBudget.budget > 0, 'color-red': element.ownBudget.budget < 0 }">
              {{element.ownBudget.budget | number:'1.2-2'}} &euro;
            </mat-cell>
          </ng-container>
        -->
          <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="editGroup(element.name)" [disabled]="!checkRoleMembership(element.moderators) && !currentUser.admin">
                      <mat-icon>mode_edit</mat-icon>
                    </button>
                <button mat-icon-button (click)="deleteGroup(element.name)" [disabled]="!checkRoleMembership(element.moderators) && !currentUser.admin">
                  <mat-icon>delete_forever</mat-icon>
                </button>

              </mat-cell>
            </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column -->
          <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let detail">
              <small>Mitglieder ({{detail.element.members.length}})</small>
              <mat-list dense>
                <mat-list-item *ngFor="let member of detail.element.members">
                  {{member.username}} ({{member.firstName}} {{member.lastName}})
                </mat-list-item>
              </mat-list>
              <hr flex/>
              <small>Kategorien ({{detail.element.categories.length}})</small>
              <mat-list dense>
                <mat-list-item *ngFor="let category of detail.element.categories">
                  {{category}}
                </mat-list-item>
              </mat-list>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
            (click)="changeExpandedElement(row)"></mat-row>
          <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
            style="overflow: hidden">
          </mat-row>
        </mat-table>
      </div>
      <br>
      <button mat-raised-button *ngIf="currentUser.admin || currentUser.superUser" (click)="openNewGroupDialog()"><mat-icon>add_circle</mat-icon> Neue Gruppe</button>
    </mat-card>
    <mat-card *ngIf="groupSummary.length === 0">
      <mat-card-title>
        Du bist nicht Mitglied einer Gruppe!
      </mat-card-title>
          Lass dich in eine Gruppe einladen, um etwas anzeigen zu können!
    </mat-card>
  </div>
</span>
