.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  cursor: pointer;
  filter: none;
  border: none;
  background: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin-right: 15px;
  padding: 0;
}

.material-icons {
  color: black;
}

.currentUserLabel {
  cursor: pointer;
}
