<mat-toolbar class="topnav">
  <button class="app-icon-button" [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="favicon.png" style="height:45px; margin-right:10px;">  flatMate
  <span class="app-toolbar-filler"></span>
  <span [routerLink]="['/profile']" class="currentUserLabel">{{currentUser.firstName}}</span>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/profile']"> Profil </button>
  <button mat-menu-item [routerLink]="['/budget']"> Budget </button>
  <button mat-menu-item [routerLink]="['/management']">Management </button>
  <button *ngIf="currentUser.admin" mat-menu-item [routerLink]="['/adminpanel']"> Admin </button>
  <button mat-menu-item [disabled]="(this.currentUser.firstName==='Gast')" (click)="logout()">Sign Out</button>
</mat-menu>
