<div class="login-form">
  <span class="filler"></span>
<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <mat-form-field>
      <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      </mat-form-field>
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <mat-form-field>
      <input matInput placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      </mat-form-field>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button mat-raised-button [disabled]="loading">Login</button>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form><br>
  <button mat-raised-button (click)="openRegisterDialog()">Register</button>
</mat-card>
  <span class="filler"></span>
</div>
