<h1 matDialogTitle>
  Registrieren</h1>
<mat-dialog-content class="dialog-content">
  <mat-form-field>
    <input matInput placeholder="Benutzername" required (keyup.enter)="closeDialogSuccess()" [formControl]="username">
    <mat-error *ngIf="username.invalid">{{checkUsernameError()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
  <input matInput type="password" placeholder="Passwort" required (keyup.enter)="closeDialogSuccess()" [formControl]="password">
  <mat-error *ngIf="password.invalid">{{checkPasswordError()}}</mat-error>
</mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Vorname" required (keyup.enter)="closeDialogSuccess()" [formControl]="firstName">
    <mat-error *ngIf="firstName.invalid">{{checkFirstNameError()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nachname" required (keyup.enter)="closeDialogSuccess()" [formControl]="lastName">
    <mat-error *ngIf="firstName.invalid">{{checkLastNameError()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="E-Mail" type="email" required (keyup.enter)="closeDialogSuccess()" [formControl]="email">
    <mat-error *ngIf="email.invalid">{{checkEmailError()}}</mat-error>
  </mat-form-field>
  <button mat-button (click)="closeDialogAbort()">
    <mat-icon>highlight_off</mat-icon> Abbrechen
  </button>
  <button mat-button (click)="closeDialogSuccess()" [disabled]="email.invalid || firstName.invalid || lastName.invalid || password.invalid || username.invalid">
    <mat-icon>person_add</mat-icon> Registrieren
  </button>
</mat-dialog-content>
