<mat-card>
  <mat-card>
    <mat-card-title>Users</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        {{user.username}}
        <button mat-button (click)="deleteUser(user.username)">
          <i class="material-icons">delete_forever</i>
        </button>
        <button mat-button (click)="openAddGroupToUserDialog(user.username)">
          Add Group (+)
        </button>
      </mat-list-item>
    </mat-list>
    <div>
      <button mat-button (click)="openNewUserDialog()"><i class="material-icons">add_circle</i> Add New</button>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-title>Groups</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let group of groups">
        {{group.name}}

        <mat-select placeholder="Category" [(ngModel)]="category" (change)="deleteCategory(category, group.name)">
          <mat-option *ngFor="let category of group.categories" [value]="category">{{category}} <button mat-button>
            <i class="material-icons">delete_forever</i>
          </button></mat-option>
        </mat-select>

        <button mat-button (click)="deleteGroup(group.name)">
          <i class="material-icons">delete_forever</i>
        </button>
        <button mat-button (click)="openAddUserToGroupDialog(group.name)">
          Add User (+)
        </button>
        <button mat-button (click)="openAddCategoryToGroupDialog(group.name)">
          Add Category (+)
        </button>
      </mat-list-item>
    </mat-list>
    <div>
      <button mat-button (click)="openNewGroupDialog()"><i class="material-icons">add_circle</i> Add New</button>
    </div>
  </mat-card>
</mat-card>
