<span class="app-content">
  <div>
    <mat-card>
      <mat-card-title>{{group.name}}<small><br> Allgemeines</small> </mat-card-title>
      <mat-form-field>
        <input matInput placeholder="Name" required [disabled]="true" [(ngModel)]="name" (keyup.enter)="edit()">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput matTextareaAutosize minRows="2" maxRows="6" placeholder="Beschreibung" required [disabled]="!editEnabled" [(ngModel)]="description" (keyup.enter)="edit()"></textarea>
      </mat-form-field>
      <button mat-button (click)="edit()">
        <mat-icon>mode_edit</mat-icon> Bearbeiten
      </button>
    </mat-card>
    <mat-card>
        <mat-card-title>{{group.name}}<small><br> Mitglieder</small></mat-card-title>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="memberDataSource">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef> Benutzername </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="lastName">
                  <mat-header-cell *matHeaderCellDef> Nachname </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="isModerator">
                <mat-header-cell *matHeaderCellDef> Moderator </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-icon class="color-green" *ngIf="checkRoleMembership(element.username)">check</mat-icon>
                  <mat-icon class="color-red" *ngIf="!checkRoleMembership(element.username)">close</mat-icon>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <!-- NOT YET IMPLEMENTED
                      <button mat-icon-button (click)="removeMod(element.username)" *ngIf="checkRoleMembership(element.username)" matTooltip="Promote User To Mod">
                          <mat-icon>arrow_upward</mat-icon>
                        </button>
                      -->
                        <button mat-icon-button (click)="promoteToMod(element.username)" *ngIf="!checkRoleMembership(element.username)" matTooltip="Promote User To Mod">
                            <mat-icon>arrow_upward</mat-icon>
                          </button>
                        <!-- NOT YET IMPLEMENTED
                    <button mat-icon-button (click)="removeFromGroup(element.username)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  -->

                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsMembers"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsMembers;" class="element-row" [ngClass]="{'rowIsMe': row.username === currentUser.username}"></mat-row>
            </mat-table><br>
          </div>
          <button mat-raised-button (click)="openAddUserToGroupDialog()"><mat-icon>person_add</mat-icon> Benutzer hinzufügen </button>
    </mat-card>

    <mat-card>
        <mat-card-title>{{group.name}}<small><br> Kategorien</small></mat-card-title>
        <mat-list>
            <mat-list-item *ngFor="let category of group.categories">
              <h3 matLine> {{category}} </h3>
              <!-- NOT YET IMPLEMENTED
              <button mat-icon-button (click)="deleteCategory(category)">
              <mat-icon matListIcon>delete</mat-icon>
              </button>
            -->
            </mat-list-item>
          </mat-list><br>
          <button mat-raised-button (click)="openAddCategoryDialog()"><mat-icon>playlist_add</mat-icon> Kategorie hinzufügen </button>
    </mat-card>
  </div>
</span>
