.dialog-content {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: auto;
}

.element-row {
  position: relative;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.mat-cell, .mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;
}

.mat-column-price {
  max-width: 50px;
}

.mat-column-name {
  max-width: 250px;
}
.mat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  padding: 0 0;
}
