<mat-card>
<mat-form-field>
    <input matInput placeholder="Zweck" #name required (keyup.enter)="closeDialogSuccess(sum.value, name.value, payer)">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Betrag" [(ngModel)]="sum" required (keyup)="updateRestItemPrice(); calculateField($event)">
  </mat-form-field>
  <br>
  <small>Bezahler</small>
  <mat-select placeholder="Bezahler" [(ngModel)]="payer" name="Bezahler" required>
    <mat-option *ngFor="let member of data.userGroup.members" [value]="member.username">{{member.firstName}}</mat-option>
  </mat-select>
</mat-card>
<br>
<br>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="itemsDataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <mat-form-field floatPlaceholder="never">
        <input matInput placeholder="Zweck" [(ngModel)]="element.name" required (keyup.enter)="closeDialogSuccess(sum.value, name.value, payer)">
          </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Preis </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <mat-form-field floatPlaceholder="never">
        <input matInput type="number" placeholder="Betrag" [(ngModel)]="element.price" required (keyup)="updateRestItemPrice(); calculateField($event)" [disabled]="element.isRestItem">
          </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
<ng-container matColumnDef="expandedDetail">
  <mat-cell *matCellDef="let detail; let row = index;">
      <small>Kategorie</small><br>
      <mat-select placeholder="Category" [(ngModel)]="detail.element.category" name="Category" required>
        <mat-option *ngFor="let category of data.userGroup.categories" [value]="category">{{category}}</mat-option>
      </mat-select>
      <br><br>
      <small>Consumer</small><br>

      <!-- DISABLED UNTIL selectChange EVENT WORKS
    <mat-selection-list dense>
      <mat-list-option *ngFor="let consumer of data.userGroup.members" (selectChange)="consumerSelected($event)" (deselected)="consumerDeselected($event)">
        {{consumer.firstName}}
      </mat-list-option>
    </mat-selection-list>
  -->
  <!-- WORKAROUND -->
  <mat-checkbox *ngFor="let member of data.userGroup.members; let i = index" [attr.data-index]="i" [(ngModel)]=detail.element.consumerCheckboxes[i]>{{member.firstName}} <br></mat-checkbox>
  <button mat-button *ngIf="!detail.element.isRestItem" (click)="removeItem(row)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
  (click)="changeExpandedElement(row)"></mat-row>
<mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
  style="overflow: hidden">
</mat-row>
  </mat-table>
  <button mat-button (click)="addItem()"><mat-icon>add_circle</mat-icon> Add Item</button>
</div>
<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialogSuccess(sum, name.value, payer)">
    Hinzufügen
  </button>
  <button mat-raised-button (click)="closeDialogAbort()">
    Abbrechen
  </button>
</mat-dialog-actions>
