<span class="app-content" *ngIf="userHasGroups">
  <div class="budget-overview">
        <mat-card class="content-card-stand">
      <mat-card-title>Übersicht</mat-card-title>
        <mat-select placeholder="Group" [(ngModel)]="currentUserGroup.name" name="Group" required (change)="currentGroupChanged($event)">
         <mat-option *ngFor="let group of userGroups | keyspipe" [value]="group.value.name" >{{group.value.name}}</mat-option>
      </mat-select>
        <mat-card [ngClass]="{'card-green': currentBudget > 0, 'card-red': currentBudget < 0 }">
          {{currentBudget | number:'1.2-2'}} &euro;
        </mat-card>
          <button mat-button (click)="groupBudgetVisible = !groupBudgetVisible"><mat-icon *ngIf="!groupBudgetVisible">keyboard_arrow_down</mat-icon><mat-icon *ngIf="groupBudgetVisible">keyboard_arrow_up</mat-icon>Gruppenübersicht</button>
          <div *ngIf="groupBudgetVisible">
              <b>Gesamt: </b> {{currentTotalExpenses | number:'1.2-2'}} &euro;
            <mat-list>
              <mat-list-item *ngFor="let budget of currentGroupBudget">
                {{budget.user.firstName}}: {{budget.budget | number:'1.2-2'}} &euro;
              </mat-list-item>
            </mat-list>
            <ngx-charts-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="currentGroupCategorySummary"
              [legend]="showLegend"
              [explodeSlices]="explodeSlices"
              [labels]="showLabels"
              [doughnut]="doughnut"
              [gradient]="gradient"
              (select)="onSelect($event)">
    </ngx-charts-pie-chart>
          </div>
    </mat-card>
    <mat-card class="content-card-add">
        <mat-card-title>Hinzufügen</mat-card-title>
        <button mat-button (click)="quickAddVisible = !quickAddVisible"><mat-icon *ngIf="!quickAddVisible">keyboard_arrow_down</mat-icon><mat-icon *ngIf="quickAddVisible">keyboard_arrow_up</mat-icon>QuickAdd</button>
      <mat-card *ngIf="quickAddVisible">
        <mat-form-field>
          <input matInput placeholder="Zweck" [(ngModel)]="zweck" #name required (keyup.enter)="addBill(sum.value, name.value, payer)">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="cost" placeholder="Betrag" #sum required>
        </mat-form-field>
        <mat-select placeholder="Bezahler" [(ngModel)]="payer" name="Bezahler" required>
          <mat-option *ngFor="let member of (currentUserGroup.members)" [value]="member.username">{{member.firstName}}</mat-option>
        </mat-select><br>
          <mat-select placeholder="Category" [(ngModel)]="category" required>
            <mat-option *ngFor="let category of currentUserGroup.categories" [value]="category">{{category}}</mat-option>
          </mat-select>
        <br>
        <small style="color: rgba(0,0,0,.38)">Consumer<br></small>
        <mat-checkbox *ngFor="let member of (currentUserGroup.members); let i = index" [attr.data-index]="i" [(ngModel)]=consumerCheckboxes[i]>{{member.firstName}}</mat-checkbox>

        <button mat-button (click)="quickAddBill(sum.value, name.value, payer, category)">
          <mat-icon>add_circle</mat-icon> Quick Add
        </button>
        </mat-card>

          <button mat-button (click)="openAddBillDialog()">
            <mat-icon>add_circle</mat-icon>  Detailed Add
          </button>
    </mat-card>

    </div>
  <button mat-button (click)="detailsVisible = !detailsVisible"><mat-icon *ngIf="!detailsVisible">keyboard_arrow_down</mat-icon><mat-icon *ngIf="detailsVisible">keyboard_arrow_up</mat-icon>Details</button>
  <div class="details" *ngIf="detailsVisible">
    <mat-card class="date-picker">
    <div class="month-picker">
       <span>
        <button mat-button (click)="selectPreviousYear()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </span>
<span class="filler"></span>
<button mat-button>{{currentYear}}</button>
<span class="filler"></span>
<span>
        <button mat-button (click)="selectNextYear()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </span>
</div>
<div class="month-picker">
  <span>
        <button mat-button (click)="selectPreviousMonth()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </span>
  <span class="filler"></span>
  <mat-tab-group (selectChange)="onSelectChange($event)" class="month-selector" [selectedIndex]="currentMonth" *ngIf="windowWidth > 820">
    <mat-tab *ngFor="let month of monthNames" [label]="month">
    </mat-tab>
  </mat-tab-group>
  <span *ngIf="windowWidth < 821">
         <button mat-button>{{monthNames[currentMonth]}}</button>
      </span>
  <span class="filler"></span>
  <span>
        <button mat-button (click)="selectNextMonth()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </span>
</div>
</mat-card>

<mat-card>
  <mat-card-title>{{monthNames[currentMonth]}} {{currentYear}}</mat-card-title>
  <div style="height:400px">
    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="currentGroupAndMonthCategorySummary" [legend]="showLegend"
      [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>

  <mat-table #table [dataSource]="billsDataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Zweck </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sum">
      <mat-header-cell *matHeaderCellDef> Summe </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sum | number:'1.2-2'}} &euro;  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paidBy">
      <mat-header-cell *matHeaderCellDef> Bezahler </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paidBy.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date:'dd.MM.yyyy HH:mm:ss'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteBill(element.id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
      </mat-cell>
    </ng-container>
<!-- Expanded Content Column - The detail row is made up of this one column -->
<ng-container matColumnDef="expandedDetail">
  <mat-cell *matCellDef="let detail">
    <small *ngIf="windowWidth < 820">Bezahlt von {{detail.element.paidBy.firstName}} am {{detail.element.date | date:'dd.MM.yyyy HH:mm:ss'}}  </small>
    <mat-list dense>
      <mat-list-item *ngFor="let item of detail.element.items">
        {{item.name}} ({{item.category}}):  {{item.price | number:'1.2-2'}} &euro; für <span *ngFor="let consumer of item.consumers; let isLast=last">
          &nbsp;{{consumer.firstName}}{{isLast ? '' : ', '}}
       </span>
      </mat-list-item>
    </mat-list>
    <button mat-icon-button (click)="deleteBill(detail.element.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
  (click)="changeExpandedElement(row)"></mat-row>
<mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
  style="overflow: hidden">
</mat-row>
</mat-table>

</mat-card>

</div>
</span>


<span class="app-content" *ngIf="!userHasGroups">
  <mat-card>
    <mat-card-title>
      No Budget to show!
    </mat-card-title>
    You are currently not a member of a group!
  </mat-card>
</span>
