.app-content mat-card {
  margin: 20px;
  display: flex;
  flex-direction: column;
}


.filler {
  flex: 1 1 auto;
}

.date-picker {
  flex-direction: column;
}

.month-picker {
  display: flex;
  flex-direction: row;
}

.month-selector {
  flex: 5 1 auto;
}

.budget-overview {
  display: flex;
}

.content-card-add {
  flex: 1 1 auto;
  display: flex;
  order: 2;
  min-width: 45%;
}

.content-card-stand {
  flex: 1 1 auto;
  display:flex;
  order: 1;
  min-width: 250px;
}

.input {
  padding: 10px;
}

.card-green {
  background-color: #00c853;
  flex: 0 1 auto;
}

.card-red {
  background-color: red;
  flex: 0 1 auto;
}

mat-list-item, mat-list-item .mat-list-item-inner {
  min-height: 20px;
  height: 25px;
}




/* Too narrow to support three columns */
@media all and (max-width: 820px) {
  .budget-overview {
    flex-flow:column wrap;
  }
}


.mat-table {
  overflow: auto;
}

.element-row {
  position: relative;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

