<mat-card class="content-card-add">
<mat-card-title>Hinzufügen</mat-card-title>
<mat-input-container>
  <input mdInput placeholder="Zweck" #name required (keyup.enter)="addBill(sum.value, name.value, payer)">
</mat-input-container>
<mat-input-container>
  <input mdInput type="number" placeholder="Betrag" #sum required>
</mat-input-container>
<mat-select placeholder="Bezahler" [(ngModel)]="payer" name="Bezahler" required>
  <mat-option *ngFor="let member of (userGroups[currentUserGroup].members)" [value]="member.username">{{member.firstName}}</mat-option>
</mat-select>
  <mat-select placeholder="Category" #category required>
    <mat-option *ngFor="let category of userGroups[currentUserGroup].categories" [value]="category">{{category}}</mat-option>
  </mat-select>
<br>
<small style="color: rgba(0,0,0,.38)">Consumer<br></small>
<mat-checkbox *ngFor="let member of (userGroups[currentUserGroup].members); let i = index" [attr.data-index]="i" [(ngModel)]=consumerCheckboxes[i]>{{member.firstName}}</mat-checkbox>

<button mat-button (click)="quickAddBill(sum.value, name.value, payer, category.value)">
  <i class="material-icons">add_circle</i> Hinzufügen
</button>
</mat-card>
