<span class="app-content">
  <div>
        <mat-card *ngIf="groupBudgets.length > 0">
            <mat-card-title>Gruppen</mat-card-title>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="userBudgetDataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.group.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="budget">
                  <mat-header-cell *matHeaderCellDef> Stand </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="{'color-green': element.ownBudget.budget > 0, 'color-red': element.ownBudget.budget < 0 }">
                   {{element.ownBudget.budget | number:'1.2-2'}}  &euro;
                  </mat-cell>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column -->
                 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                 <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToGroup(row.group.name)" class="element-row"></mat-row>
              </mat-table>
            </div>
        </mat-card>
        <mat-card *ngIf="groupBudgets.length === 0">
          <mat-card-title>
            Du bist nicht Mitglied einer Gruppe!
          </mat-card-title>
              Lass dich in eine Gruppe einladen, um etwas anzeigen zu können!
        </mat-card>
  </div>
</span>
