.app-content mat-card {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.color-green {
  color: #00c853;
}

.color-red {
  color: red;
}

.element-row {
  position: relative;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}
