<span class="app-content">
  <div>
        <mat-card>
            <mat-card-title>Profil</mat-card-title>
            <mat-form-field>
                <input matInput placeholder="Username" required [disabled]="true" [(ngModel)]="username" (keyup.enter) = "edit()">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Vorname" required [disabled]="!editEnabled" [(ngModel)]="firstName" (keyup.enter) = "edit()">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nachname" required [disabled]="!editEnabled" [(ngModel)]="lastName" (keyup.enter) = "edit()">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="E-Mail" type="email" #lastname required [disabled]="!editEnabled" [(ngModel)]="email" (keyup.enter) = "edit()">
            </mat-form-field>
            <button mat-button (click)="edit()">
                <mat-icon>mode_edit</mat-icon> Bearbeiten
            </button>
            <button mat-button (click)="changePasswordDialog()">
                  <mat-icon>mode_edit</mat-icon> Passwort ändern
            </button>
        </mat-card>
        <mat-card>
            <mat-card-title>Gruppen</mat-card-title>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="userGroups">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.group.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="budget">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="{'color-green': element.budget > 0, 'color-red': element.budget < 0 }"> {{element.budget}} </mat-cell>
                </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToGroup(row.group.name)" class="element-row"></mat-row>
              </mat-table>
            </div>
        </mat-card>
  </div>
</span>
