/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body, html {
  margin: 0;
  padding: 0;
}

.mat-tab-label {
  min-width: 1px !important;
  flex: 1 1 auto;
}
